<h1 style = "font-family:georgia,garamond,serif;font-size:25px;font-style:normal;">MEET THE TEAM</h1>

<div class="row">
    <div class="column">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
      <img src="/assets/aarthi_avatar.jpeg" alt="Dhruv" style="width:100%">
    </div>
    <div class="flip-box-back">
        <br>
        <br>
      <h2>Dhruv Kapoor</h2>
      <h3>Mentor</h3>
      <p>Team</p>
    </div>
  </div>
</div>
    </div>
    <div class="column">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
      <img src="/assets/yashi_avatar.jpeg" alt="Vaibhav" style="width:100%">
    </div>
    <div class="flip-box-back">
        <br>
        <br>
      <h2>Vaibhav Deb</h2>
      <h3>Intern</h3>
      <p>Team</p>
    </div>
  </div>
</div>
    </div>
    <div class="column">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
      <img src="/assets/aarthi_avatar.jpeg" alt="Aarthi" style="width:100%">
    </div>
    <div class="flip-box-back">
        <br>
        <br>
        <h2>Aarthi G</h2>
        <h3>Intern</h3>
      <p>Team</p>
    </div>
  </div>
</div>
    </div>
    <div class="column">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
        <img src="/assets/yashi_avatar.jpeg" alt="Siddanth" style="width:100%">
    </div>
    <div class="flip-box-back">
        <br>
        <br>
        <h2>Siddanth Malhotra</h2>
        <h3>Intern</h3>
      <p>Team</p>
    </div>
  </div>
</div>
    </div>
    <div class="column">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
        <img src="/assets/aarthi_avatar.jpeg" alt="Yashi" style="width:100%">
    </div>
    <div class="flip-box-back">
        <br>
        <br>
        <h2>Yashi Bajpai</h2>
        <h3>Intern</h3>
      <p>Team</p>
    </div>
  </div>
</div>
    </div>
  </div>

 